{% load compress widgy_tags thumbnail_libs %}
<li class="carousel-child" style="
			{% if self.background_image %}
			{% easy_thumbnail self.background_image.file "1920x1080" upscale=False crop="scale"  as im %}

				background-image:url('{{ im.url }}');
				background-size: cover;
				background-position: center center;
			{% endif %}
			{% if self.background_color %}
				background-color:{{ self.background_color }};
			{% endif %}">
	{% for child in self.get_children %}
		{% render child %}
	{% endfor %}
</li>
	
