{% load widgy_tags i18n compress indium staticfiles thumbnail_libs %}

{% compress js  %}
    <script type="text/javascript">
        jQuery(document).ready( function() {
        
            jQuery(".product-list-{{ self.id }}").on("click", "a", function(e) {
                var event = jQuery(this).parent(".product-item");

                jQuery('.product-list-newest .modal .modal-header .modal-title ').html(jQuery(event).find(".item-modal-title").text());
                
				jQuery('.product-list-newest .modal .modal-body').css({
					"background-image": "url(" + jQuery(event).find("a.product-img img").attr("src")  + ")",
					});

				var body_text = ""
					+ jQuery(event).find(".item-modal-body").html();
                jQuery('.product-list-newest .modal .modal-body').html(body_text);

                jQuery('.product-list-newest .modal').modal({});
                e.preventDefault();
            });
        });    
    </script>
{% endcompress %}

{% recent_products self.product_count as products %}
<div class="product-list product-list-newest product-list-{{ self.id }} clearfix {% if self.container_classes %} {{ self.container_classes }} {% endif %}">
	{% for product in products %}
	    <div class="product-item product-item-{{ forloop.counter }} col-xs-6 col-sm-3">
			{% easy_thumbnail product.image.file "600x600" upscale crop=True  as im %}
			<a href="#" class="product-img" title="{{ product.title|safe }}">
				<img src="{{ im.url }}" alt="{{ product.title|safe }}" width="600" height="600" class="img-responsive" />
				<h3 class="product-title">{{ product.title|safe }}</h3>
				{% if product.draught %}
					<span class="product-draught"><img src="{% static "images/draught-beer.png" %}" width="100" height="100" /></span>
				{% endif %}
			</a>
			<div class="item-modal-title" style="display:none;">{{ product.title|safe }}</div>
			<div class="item-modal-body" style="display:none;">
				<p>
					{% if product.country or product.price %}
						{% if product.country and product.country != "ZZ" %}
							{% trans "Country" %}: {{ product.get_country_display }} 
						{% endif %}
						{% if product.price %}
							{% trans "Price" %}: {{ product.price|safe }} 
						{% endif %}
						<br /> <br />
					{% endif %}

					{{ product.description|safe }}
				</p>
				{% if product.draught %}
					<span class="product-draught"><img src="{% static "images/draught-beer.png" %}" width="100" height="100" /></span>
				{% endif %}
			</div>
		</div>
	{% endfor %}
    <div class="product-modal modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">{% trans "Modal title" %}</h3>
                </div>
                <div class="modal-body">
                    <p>{% trans "One fine body…" %}</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
