{% load widgy_tags i18n compress indium staticfiles thumbnail_libs %}

{% compress js  %}
    <script type="text/javascript">
        jQuery(document).ready( function() {
        
            jQuery(".product-list-{{ self.id }}").on("click", "a", function(e) {
                var event = jQuery(this).parent(".product-item");

                jQuery('.product-list-all .modal .modal-header .modal-title ').html(jQuery(event).find(".item-modal-title").text());
               {% comment %} 
				jQuery('.product-list-all .modal .modal-body').css({
					"background-image": "url(" + jQuery(event).find("a.product-img img").attr("src")  + ")",
					});
                {% endcomment %}
                jQuery('.product-list-newest .modal .modal-body').css({
                    "background-image": "url(" + jQuery(event).find("a.product-img img").attr("src")  + ")",
                    "background-position": "center",
                    "background-repeat": "no-repeat",
                });

				var body_text = ""
					+ jQuery(event).find(".item-modal-body").html();
                jQuery('.product-list-all .modal .modal-body').html(body_text);

                jQuery('.product-list-all .modal').modal({});
                e.preventDefault();
            });
        });    
    </script>
{% endcompress %}

{% all_products as categories %}

<div class="product-list-all tabify {% if self.container_classes %} {{ self.container_classes }} {% endif %}">

	<ul class="tabs nav nav-tabs title tabs-categories" role="tablist">
		{% for category in categories %}
			<li>
				<a href="#{{ category|slugify }}"{% if forloop.first %} class="clearfix active"{% endif %}>
					<h1>{{ category }}</h1>
				</a>
			</li>
		{% endfor %}
	</ul>

	{% for category, subcategories in categories.iteritems %}
	<div id="{{ category|slugify }}" class="tabContent{% if forloop.first %} active{% endif %}">
		<div class="product-category">
			{% comment %}
			<div class="title clearfix">
				<h1 class="col-xs-9">{{ category }}</h1>

				{% if category == "Beverages" or category == "Juomat" %}
					<div class="guideline clearfix col-xs-3">
						<img src="{% static "images/draught-beer.png" %}" width="100" height="100" />
						<span>{% trans "Draught beverage" %}</span>
					</div>
				{% endif %}
			</div>{% endcomment %}
			<div class="tabify data tabify-{{ category }}">
				<ul class="tabs nav nav-tabs" role="tablist">
					{% for subcategory in subcategories %}
						<li><a href="#{{ subcategory|slugify }}"{% if forloop.first %} class="active"{% endif %}>{{ subcategory }}</a></li>
					{% endfor %}
				</ul>
				
				{% for subcategory, countries in subcategories.iteritems %}
					<div id="{{ subcategory|slugify }}" class="tabContent{% if forloop.first %} active{% endif %}">
						<div class="product-list product-list-{{ self.id }} clearfix">
							{% for country, products in countries.iteritems %}
								{% if category == "Beverages" or category == "Juomat" %}
									<h3 class="product-country">{% if country %}{{ country }}{% else %}{% trans "Other" %}{% endif %}</h3>
								{% endif %}
								{% for product in products %}
									<div class="product-item col-xs-6 col-sm-2">
                                        {% easy_thumbnail product.image.file "260x550" upscale crop=True as im %}
                                        {% easy_thumbnail product.image.file "600x600" upscale=False crop=False as imorig %}
										<a href="#" class="product-img" title="{{ product.title|safe }}">
											<img src="{{ im.url }}" alt="{{ product.title|safe }}" width="600" height="600" class="img-responsive" />
                                            <img src="{{ imorig.url }}" class="original" style="display:none;" />
											<h4 class="product-title">{{ product.title|safe }}</h4>
											{% if product.draught %}
												<span class="product-draught"><img src="{% static "images/draught-beer.png" %}" width="100" height="100" /></span>
											{% endif %}
										</a>
										<div class="item-modal-title" style="display:none;">{{ product.title|safe }}</div>
										<div class="item-modal-body" style="display:none;">
											<p>
												{% if product.country or product.price %}
													{% if product.country and product.country != "ZZ" %}
														{% trans "Country" %}: {{ product.get_country_display }} 
													{% endif %}
													{% if product.price %}
														{% trans "Price" %}: {{ product.price|safe }} 
													{% endif %}
													<br /> <br />
												{% endif %}

												{{ product.description|safe }}
											</p>
											{% if product.draught %}
												<span class="product-draught"><img src="{% static "images/draught-beer.png" %}" width="100" height="100" /></span>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="product-modal modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style="background-color:white;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="modal-title">{% trans "Modal title" %}</h3>
				</div>
				<div class="modal-body">
					<p>{% trans "One fine body…" %}</p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

