Django==1.6.5
South
Werkzeug
django-argonauts
django-backupdb
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
django-filer==0.9.5
django-pyscss
django-require
django-treebeard==1.61
html2text
Mezzanine
markdown
phonenumbers
pyScss>=1.2.0
psycopg2==2.5.3
Sphinx==1.2.2
sorl-thumbnail
-e git://github.com/fusionbox/fusionbox-fabric-helpers@0f8103beb1f9fc7b6d1be38069b8bd85bf87a29a#egg=fusionbox_fabric_helpers-dev
mock==1.0.1
