{% extends widgy.owner.base_template|default:"layout_base.html" %}
{% load widgy_tags indium %}


{% block extra_css %}
    {% if self.get_children.0|find_node_of_type:"carousel" %}
    <style>
	.jcarousel-wrapper {
	    padding: 50px;
	    position: relative;
	    background-color:rgba(0, 0, 0, 0.16);
	}

	/** Carousel **/

	.jcarousel {
	    position: relative;
	    overflow: hidden;
	    width: 100%;
	}

	.jcarousel ul {/*
	    width: 20000em;*/
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	.jcarousel li {
	/*    width: 200px;*/
	    float: left;
	}
	.jcarousel img {
	    display: block;
	    max-width: 100%;
	    height: auto !important;
	}

	/** Carousel Controls **/

	.jcarousel-control-prev,
	.jcarousel-control-next {
	    position: absolute;
	    top: 50%;
	    margin-top: -15px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    background: #4E443C;
	    color: #fff;
	    text-decoration: none;
	    text-shadow: 0 0 1px #000;
	    font: 24px/27px Arial, sans-serif;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	    -webkit-box-shadow: 0 0 4px #F0EFE7;
	    -moz-box-shadow: 0 0 4px #F0EFE7;
	    box-shadow: 0 0 4px #F0EFE7;
	}

	.jcarousel-control-prev {
	    left: 15px;
	}

	.jcarousel-control-next {
	    right: 15px;
	}

	/** Carousel Pagination **/

	.jcarousel-pagination {
	    position: absolute;
	    bottom: 15px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	    margin: 0;
	}
	.jcarousel-pagination a {
	    text-decoration: none;
	    display: inline-block;

	    font-size: 11px;
	    height: 10px;
	    width: 10px;
	    line-height: 10px;

	    background: #fff;
	    color: #4E443C;
	    border-radius: 10px;
	    text-indent: -9999px;

	    margin-right: 7px;


	    -webkit-box-shadow: 0 0 2px #4E443C;
	    -moz-box-shadow: 0 0 2px #4E443C;
	    box-shadow: 0 0 2px #4E443C;
	}

	.jcarousel-pagination a.active {
	    background: #4E443C;
	    color: #fff;
	    opacity: 1;

	    -webkit-box-shadow: 0 0 2px #F0EFE7;
	    -moz-box-shadow: 0 0 2px #F0EFE7;
	    box-shadow: 0 0 2px #F0EFE7;
	}
    </style>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% if self.get_children.0|find_node_of_type:"carousel" or self.get_children.1|find_node_of_type:"carousel" %}
	<script type="text/javascript" src="/static/js/jquery.jcarousel.min.js" ></script>
    {% endif %}
{% endblock %}

{% block meta_title %}
{{ widgy.owner }}
{% endblock %}

{% block content %}
<section class="main clearfix">
{#  <h1>{{ widgy.owner }}</h1>#}
  {% render self.get_children.0 %}
</section>

<section class="sidebar clearfix">
  {% render self.get_children.1 %}
</section>
{% endblock %}
