{% extends widgy.owner.base_template|default:"layout_base.html" %}
{% load widgy_tags indium staticfiles %}


{% block extra_css %}
	{% if self.get_children.0|find_node_of_type:"calendar" or self.get_children.1|find_node_of_type:"calendar" %}
		<link rel="stylesheet" href="{% static "css/fullcalendar/2.2.2/fullcalendar.css" %}">
		{#<link rel="stylesheet" href="{% static "css/fullcalendar/2.1.0/fullcalendar.print.css" %}">#}
	{% endif %}
    {% if self.get_children.0|find_node_of_type:"carousel" or self.get_children.1|find_node_of_type:"carousel" %}
    <style>
	.jcarousel-wrapper {
	    padding: 50px;
	    position: relative;
	    background-color:rgba(0, 0, 0, 0.16);
	}

	/** Carousel **/

	.jcarousel {
	    position: relative;
	    overflow: hidden;
	    width: 100%;
	}

	.jcarousel ul {/*
	    width: 20000em;*/
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	.jcarousel li {
	/*    width: 200px;*/
	    float: left;
	}
	.jcarousel img {
	    display: block;
	    max-width: 100%;
	    height: auto !important;
	}

	/** Carousel Controls **/

	.jcarousel-control-prev,
	.jcarousel-control-next {
	    position: absolute;
	    top: 50%;
	    margin-top: -15px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    background: #4E443C;
	    color: #fff;
	    text-decoration: none;
	    text-shadow: 0 0 1px #000;
	    font: 24px/27px Arial, sans-serif;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	    -webkit-box-shadow: 0 0 4px #F0EFE7;
	    -moz-box-shadow: 0 0 4px #F0EFE7;
	    box-shadow: 0 0 4px #F0EFE7;
	}

	.jcarousel-control-prev {
	    left: 15px;
	}

	.jcarousel-control-next {
	    right: 15px;
	}

	/** Carousel Pagination **/

	.jcarousel-pagination {
	    position: absolute;
	    bottom: 15px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	    margin: 0;
	}
	.jcarousel-pagination a {
	    text-decoration: none;
	    display: inline-block;

	    font-size: 11px;
	    height: 10px;
	    width: 10px;
	    line-height: 10px;

	    background: #fff;
	    color: #4E443C;
	    border-radius: 10px;
	    text-indent: -9999px;

	    margin-right: 7px;


	    -webkit-box-shadow: 0 0 2px #4E443C;
	    -moz-box-shadow: 0 0 2px #4E443C;
	    box-shadow: 0 0 2px #4E443C;
	}

	.jcarousel-pagination a.active {
	    background: #4E443C;
	    color: #fff;
	    opacity: 1;

	    -webkit-box-shadow: 0 0 2px #F0EFE7;
	    -moz-box-shadow: 0 0 2px #F0EFE7;
	    box-shadow: 0 0 2px #F0EFE7;
	}
    </style>
    {% endif %}
{% endblock %}

{% block extra_js %}
	{% if self.get_children.0|find_node_of_type:"calendar" or self.get_children.1|find_node_of_type:"calendar" %}
		<script src="{% static "js/fullcalendar/2.2.2/moment.min.js" %}"></script>
		<script src="{% static "js/fullcalendar/2.2.2/fullcalendar.js" %}"></script>
        {% if LANGUAGE_CODE == "en" %}
            <script src="{% static "js/fullcalendar/2.2.2/lang/en-gb.js" %}"></script>
        {% else %}
            <script src="{% static "js/fullcalendar/2.2.2/lang/"|add_str:LANGUAGE_CODE|add_str:".js" %}"></script>
        {% endif %}
		<script src="{% static "js/fullcalendar/2.2.2/gcal.js" %}"></script>
	{% elif self.get_children.0|find_node_of_type:"calendar events" or self.get_children.1|find_node_of_type:"calendar events" %}
		<script src="{% static "js/fullcalendar/2.2.2/moment.min.js" %}"></script>
		<script>
			$(document).ready(function() {
				function translate(number, withoutSuffix, key, isFuture) {
					var result = '';
					switch (key) {
					case 's':
						return isFuture ? 'muutaman sekunnin' : 'muutama sekunti';
					case 'm':
						return isFuture ? 'minuutin' : 'minuutti';
					case 'mm':
						result = isFuture ? 'minuutin' : 'minuuttia';
						break;
					case 'h':
						return isFuture ? 'tunnin' : 'tunti';
					case 'hh':
						result = isFuture ? 'tunnin' : 'tuntia';
						break;
					case 'd':
						return isFuture ? 'päivän' : 'päivä';
					case 'dd':
						result = isFuture ? 'päivän' : 'päivää';
						break;
					case 'M':
						return isFuture ? 'kuukauden' : 'kuukausi';
					case 'MM':
						result = isFuture ? 'kuukauden' : 'kuukautta';
						break;
					case 'y':
						return isFuture ? 'vuoden' : 'vuosi';
					case 'yy':
						result = isFuture ? 'vuoden' : 'vuotta';
						break;
					}
					result = verbalNumber(number, isFuture) + ' ' + result;
					return result;
				}
				moment.locale("fi", {
					months : 'tammikuu_helmikuu_maaliskuu_huhtikuu_toukokuu_kesäkuu_heinäkuu_elokuu_syyskuu_lokakuu_marraskuu_joulukuu'.split('_'),
					monthsShort : 'tammi_helmi_maalis_huhti_touko_kesä_heinä_elo_syys_loka_marras_joulu'.split('_'),
					weekdays : 'sunnuntai_maanantai_tiistai_keskiviikko_torstai_perjantai_lauantai'.split('_'),
					weekdaysShort : 'su_ma_ti_ke_to_pe_la'.split('_'),
					weekdaysMin : 'su_ma_ti_ke_to_pe_la'.split('_'),
					longDateFormat : {
						LT : 'HH.mm',
						L : 'DD.MM.YYYY',
						LL : 'Do MMMM[ta] YYYY',
						LLL : 'Do MMMM[ta] YYYY, [klo] LT',
						LLLL : 'dddd, Do MMMM[ta] YYYY, [klo] LT',
						l : 'D.M.YYYY',
						ll : 'Do MMM YYYY',
						lll : 'Do MMM YYYY, [klo] LT',
						llll : 'ddd, Do MMM YYYY, [klo] LT'
					},
					calendar : {
						sameDay : '[tänään] [klo] LT',
						nextDay : '[huomenna] [klo] LT',
						nextWeek : 'dddd [klo] LT',
						lastDay : '[eilen] [klo] LT',
						lastWeek : '[viime] dddd[na] [klo] LT',
						sameElse : 'L'
					},
					relativeTime : {
						future : '%s päästä',
						past : '%s sitten',
						s : translate,
						m : translate,
						mm : translate,
						h : translate,
						hh : translate,
						d : translate,
						dd : translate,
						M : translate,
						MM : translate,
						y : translate,
						yy : translate
					},
					ordinal : '%d.',
					week : {
						dow : 1, // Monday is the first day of the week.
						doy : 4  // The week that contains Jan 4th is the first week of the year.
					}			
				});			
			});
		</script>
	{% endif %}

    {% if self.get_children.0|find_node_of_type:"carousel" or self.get_children.1|find_node_of_type:"carousel" %}
		<script type="text/javascript" src="/static/js/jquery.jcarousel.min.js" ></script>
    {% endif %}
{% endblock %}

{% block meta_title %}
{{ widgy.owner.title }}
{% endblock %}

{% block content %}
<section class="main clearfix">
{#  <h1>{{ widgy.owner }}</h1>#}
  {% render self.get_children.0 %}
</section>

<section class="sidebar clearfix">
  {% render self.get_children.1 %}
</section>
{% endblock %}
